.banner-section {
    background: radial-gradient(circle, rgba(15,12,41,1) 0%, rgba(48,43,99,1) 50%, rgba(36,36,62,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.banner-info {
    width: 32vw;
    color: #fff;
}

.banner-info form {
    margin-top: 20px;
}

.banner-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32vw;
}

.img-banner{
    width: 400px;
    height: 400px;
}

.search-input, .search-button {
    margin: 0;
}

.search-input {
    width: 90%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 40px;
}

.search-button {
    color: #fff;
    font-size: 11px;
    display: inline;
    background: linear-gradient(90deg, rgba(18,194,233,1) 0%, rgba(196,113,237,1) 50%, rgba(246,79,89,1) 100%);
    height: 32px;
    margin-left: -64px;
    border: none;
    border-radius: 15px 15px 15px 15px;
}

.search-button:hover {
    cursor: pointer;
}

.stats {
    width: 400px;
    margin-top: 20px;
}

.rate {
    width: 5px;
    font-size: 30px;
    font-weight: bold;

}

.stats-info {
    width: 5px;;
    font-size: 11px;
    padding: 6px;
}